apiVersion: apps/v1beta1
kind: Deployment
metadata:
 name: postgresql-deployment
spec:
 replicas: 1
 template:
   metadata:
     labels:
       app: postgresql
   spec:
     containers:
     - name: postgressql-container
       image: postgres
       env:
       - name: POSTGRES_USER
         value: postgres
       - name: POSTGRES_PASSWORD
         value: superpostgres
       - name: PGDATA
         value: /var/lib/postgresql/data/pgdata
       - name: POSTGRES_DB
         value: gitlabhq_production
       volumeMounts:
       - name: postgres-volume
         mountPath: /var/lib/postgresql/data
     volumes:
     - name: postgres-volume
       glusterfs:
         endpoints: gluster-cluster
         path: /gluster-fs-volume
         readOnly: false




#       volumeMounts:
#       - name: postgres-volume
#         mountPath: /var/lib/postgresql/data/pgdata
#     volumes:
#     - name: postgres-volume
#       glusterfs:
#         endpoints: gluster-cluster
#         path: /gluster-fs-volume
#         readOnly: false
 #    nodeSelector:
 #      TypeOfPod: PostgreSQL
